.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 10vw;
  height: 10vw;
}

.signup_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #6796ee 100%);
  margin: 0;
  height: 100vh;
}

.signup_form_container {
  width: 900px;
  height: 400px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 15px #a2c0f8;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #002d80;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left h1 {
  margin-top: 0;
  color: white;
  font-size: 35px;
  align-self: center;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #ccc;
  color: #002d80;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.green_btn {
  background-color: #002d80;
  color: white;
  margin: 10px;
}
